<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <partial name="_MetaTag" />
    <title>@ViewData["Title"]</title>
    <partial name="_HeaderRefrences" />
    @RenderSection("styles", required: false)
</head>
<body>
   
    @await RenderSectionAsync("Header", true)

    @RenderBody()

    <partial name="_PartialFooter" />

    <partial name="_FooterRefrences" />

    @RenderSection("Scripts", required:false)
</body>
</html>

