@using Hotel_Application.Statics
@using Hotel_Domain.Entities.Hotels
@using Hotel_Domain.ViewModels.HotelRules
@model FilterHotelRulesViewModel

@{
    ViewData["Title"] = "لیست قوانین هتل";

    var hotel = ViewBag.Hotel as Hotel;
}

<div class="mx-3">
    <h2 class="py-3">لیست قوانین هتل</h2>
    <div class="row">
        <div class="col-12 w-50">
            <div class="mb-3">
                <label asp-for="@hotel!.Title" class="form-label"></label>
                <input type="text" asp-for="@hotel!.Title" class="form-control text-start" placeholder="تایتل">
            </div>
            <div class="mb-3">
                <label asp-for="@hotel!.HotelAddress.Address" class="form-label"></label>
                <input type="text" asp-for="@hotel!.HotelAddress.Address" class="form-control text-start" placeholder="تایتل">
            </div>
        </div>
        <div class="col-12 pb-3">
            <a asp-area="Admin" asp-controller="Hotel" asp-action="CreateHotelRule" asp-route-id="@Model.HotelId" class="btn btn-outline-primary">افزودن تصویر</a>
        </div>
        <div class="col-12">
            <div class="admin-table">
                <table class="table">
                    <thead>
                        <tr class="table-secondary">
                            <th>قوانین</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Entities.Any() && Model.Entities != null)
                        {
                            @foreach (var item in Model.Entities)
                            {
                                <tr>
                                    <td class="col-4">
                                        <p class="fw-600 fs-6">@item.Description</p>
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Hotel" asp-action="EditHotelRule" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">ویرایش</a>
                                        <a asp-area="Admin" asp-controller="Hotel" asp-action="DeleteHotelRule" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger ms-2">حذف</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>
                                    <p class="fw-600 fs-6">در حال حاضر قانونی برای هتل یافت نشد لطفا از افزودن قانون استفاده کنید</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
