@using Hotel_Domain.ViewModels.Advantage
@model FilterAdvantageRoomViewModel

@{
    ViewData["Title"] = "لیست ویژگی ها";
}

<h2 class="py-3">لیست ویژگی ها</h2>

<div class="container">
    <form asp-area="Admin" asp-controller="Advantage" asp-action="FilterAdvantages" method="get">
        <div class="row ">
            <div class="mb-3 col-6">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success"> جست جو کردن </button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-12 pb-3">
        <a asp-area="Admin" asp-controller="Advantage" asp-action="CreateAdvantage" class="btn btn-outline-primary">ایجاد ویژگی</a>
    </div>
    <div class="col-12">
        <div class="admin-table ">
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th>عنوان</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Entities.Any() && Model.Entities != null)
                    {
                        @foreach (var item in Model.Entities)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Advantage" asp-action="EditAdvantage" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-warning">ویرایش</a>
                                    <a asp-area="Admin" asp-controller="Advantage" asp-action="DeleteAdvantage" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-danger ms-2">حذف</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="col-4">
                                در حال حاضر ویژگی موجود نمیباشد
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

